@media(min-width:300px){
    .mycontainer{
        padding: 0 2em;
    }
    .desctop-header{
        display: none;
    }
    .mobile-header{
        display: block;
    }
    #big-slider{
        .item-list{
            .slick-next,.slick-prev{
                display: none !important;
            }
            .items{
                height: 100vh;
                .text{
                    width: 60%;
                    top: 50%;
                    color: white;
                    h1{
                        font-size: 40px;
                    }
                    h2{
                        font-size: 35px;
                    }
                    .vertical{
                        display: none;
                    }           
                    button{
                        height: 40px;
                        width: 200px;
                        background-color: var(--yellow);
                        outline: var(--yellow);
                        border: var(--yellow);
                        &:hover{
                            color: black;
                        }
                    } 
                }
              
                .icons{
                    display: none;
                }
            }
            .image{
                height: 100vh;
               img{
                //    width: 150%;
                   object-position: 25% 75%;
               }
            }
        }
    }

    #training{
        .training-header{
            display: flex;
             flex-direction: column-reverse;
            .right-side{
                flex-direction: column;
                .line{
                    width: 100%;
                    margin: 10px 0;
                }
            }
        }
    }
    #partners{
        .partner-list{
            .slick-next,.slick-prev{
               width: 15%;
            }
            .slick-next{
                right: 35%;
            }
            .slick-prev{
                left: 35%;
            }
        }
    }
}
@media(min-width:500px){
    .desctop-header{
        display: none;
    }
    .mobile-header{
        display: block;
    }
    .mycontainer{
        padding: 0 8em;
    }
    #partners{
        .partner-list{
            .slick-next,.slick-prev{
               width: 9%;
            }
            .slick-next{
                right: 40%;
            }
            .slick-prev{
                left: 40%;
            }
        }
    }
}
@media(min-width:1100px){
    .desctop-header{
        display: block;
    }
    .mycontainer{
        padding: 0 18em;
    }
    .mobile-header{
        display: none;
    }
    #big-slider{
        .item-list{
            .slick-next,.slick-prev{
                display: block !important;
            }
            .items{
                height: 146vh;
                img{
                    width: 100%;
                }
                .text{
                    width: 50%;
                    top: 30%;
                    color: black;
                    h1{
                        font-size: 96px;
                        font-weight: 700;
                        color: rgba(0, 0, 0, 1);
                    }
                    h2{
                        font-size: 96px;
                        font-weight: 300;
                        color: #000000;
                        line-height: 104px;
                        font-style: normal;
                        letter-spacing: -0.015em;
                    }
                    .vertical{
                        display: block;
                    }           
                    button{
                        height: 50px;
                        width: 280px;
                            background-color: transparent;
                            outline: 1px solid;
                            border: 1px solid;
                            &:hover{
                                color: var(--yellow);
                            }
                    } 
                }
              
                .icons{
                    display: block;
                }
            }
            .image{
                height: 100%    ;
               img{
                   object-position: 25% 75%;
               }
            }
        }
    }

    #training{
        .training-header{
            display: flex;
        flex-direction: row;
        // align-items: center !important;
            .right-side{
                flex-direction: row;
                align-items: center;
                .line{
                    width: 100px;
                    margin: 0 10px;
                }
                p{
                    margin: 10px !important;
                }
            }
        }
    }
    #partners{
        .partner-list{
            .slick-next,.slick-prev{
               width: 8%;
            }
            .slick-next{
                right: 41%;
            }
            .slick-prev{
                left: 41%;
            }
        }
    }
}